@{
    Layout = "~/Views/Shared/LoginLayout.cshtml";
    ViewBag.Title = "Quên mật khẩu";
}

<h2>Quên mật khẩu</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group mt-3">
        <label>Email đã đăng ký:</label>
        @Html.TextBox("email", null, new { @class = "form-control", placeholder = "Nhập email của bạn" })
    </div>

    <button type="submit" class="btn btn-primary mt-3">Lấy lại mật khẩu</button>


}
@if (ViewBag.ErrorMessage != null)
{
    <p class="text-danger mt-2">@ViewBag.ErrorMessage</p>
}

@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success mt-3">@ViewBag.SuccessMessage</div>
}


