@model IEnumerable<CuaHangThietBiDienTu.Models.SanPham>

@{
    ViewBag.Title = "SanPham";
}

<h2>SanPham</h2>

<div class="row">
    @foreach (var sp in Model)
    {
        <div class="col-lg-4">
            <div class="card">
                <img src="~/Content/images/@sp.HinhAnh" class="card-img-top" style="max-width: 200px;" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@sp.TenSP</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

    }
</div>
