@model IEnumerable<CuaHangThietBiDienTu.Models.LoaiSanPham>

@foreach (var loai in Model)
{
    <a href="@Url.Action("TimTheoLoaiSP", "SanPhams", new {maLoai = loai.MaLoai})" class="@(Request["maLoai"] == loai.MaLoai.ToString()? "active":"submenu-item d-block px-2 py-1 rounded")">

        @loai.TenLoai
    </a>
}

